Firmware_H7/build/*.d
Firmware_H7/build/*.lst
Firmware_H7/build/*.o
Firmware_H7/build/*.map
*/.vscode
*.aux
*.bbl*
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.*
*.toc
Hardware/*/*.b#*
Hardware/*/*.s#*
*.Identifier